body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
    background-color: #f0f0f0; 
}
.button {
    border: none;
    padding: 25px 42px;
    text-align: center;
    font-size: 26px;
    margin: 4px 2px;
    background-color: #4CAF50; 
}
